extends layout.pug 

block content 
    form(method="POST")
        input(type="date", placeholder="날짜", name="date",value=list.date, required)
        input(type="text", placeholder="성함", name="name", value=list.name, required)
        input(type="text", placeholder="주소", name="address",value=list.address, required)
        input(type="text", placeholder="연락처", name="phNumber",value=list.phNumber, required)
        input(type="text", placeholder="서비스", name="service",value=list.service.join(), required)
        input(type="submit", value="수정완료")